.fifthcard-quotation {
  display: flex;
  font-size: 48px;
  text-align: center;
  width: 967px;
  margin: auto;
}

.fifthcard-writer {
  font-size: 48px;
  width: 967px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.fifthcard-group {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.fifthcard-tigers-sabre {
  max-width: 905px;
  margin: auto;
  margin-top: 55px;
}
