.fifthcard-quotation {
  display: flex;
  font-size: 48px;
  text-align: center;
  width: 967px;
  margin: auto;
  color: white;
}

.fifthcard-writer {
  font-size: 48px;
  width: 967px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
}

.fifthcard-group {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.fifthcard-tigers-sabre {
  max-width: 705px;
  margin: auto;
  position: absolute;
  top: 580px;
}

.fifthcard {
  height: 100vh;
  // border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  background-color: black;
}
