.firstcard-text {
  display: flex;
  font-size: 48px;
  text-align: center;
  width: 632px;
  height: 122px;
  margin: auto;
  margin-top: 390px;
}

.firstcard-mountains {
  max-width: 220px;
}

.firstcard-birds {
  max-width: 210px;
}
