.fourthcard-text {
  display: flex;
  font-size: 48px;
  text-align: center;
  width: 531px;
  height: 151px;
  margin: auto;
}

.fourthcard-zoom-sabre {
  max-width: 300px;
}

.fourthcard-dezoom-sabre {
  max-width: 555px;
}
