.header-second-button {
  font-size: 20px;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.42);
  transition: transform 0.2s;
}

.header-second-button:hover {
  transform: scale(1.2);
}

.header-first-button {
  font-size: 20px;
  border-radius: 60px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s;
}

.header-first-button:hover {
  transform: scale(1.2);
}

.header {
  margin-left: 75px;
  position: sticky;
  top: 30;
  z-index: 1000;
}

.header-group {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
