.imagecave-cave {
  position: absolute;

  transform: scale(1.2);
}

.imagecave-hills {
  position: absolute;
  max-width: 120vw;

  filter: brightness(1) saturate(1) hue-rotate(0deg);
  transition: filter 0.3s ease;
}

.imagecave {
  top: 100px;
  // border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
