.imagecave-cave {
  position: absolute;
  width: 120%;
}

.imagecave-hills {
  position: absolute;
  max-width: 100vw;
}

.imagecave {
  top: 100px;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
