.secondcard-text {
  display: flex;
  font-size: 48px;
  text-align: center;
  width: 482px;
  height: 142px;
  margin: auto;
}

.secondcard-bird-carnivorous {
  max-width: 315px;
}

.secondcard-bird-eye {
  max-width: 615px;
}
