.thirdcard-text {
  display: flex;
  font-size: 48px;
  text-align: center;
  width: 454px;
  height: 185px;
  margin: auto;
  color: white;
  z-index: 1;
}

.thirdcard-teeth {
  max-width: 400px;
  position: absolute;
  left: 300px;
  top: 400px;
}

.thirdcard {
  height: 100vh;
  // border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  background-color: black;
}
